h1,h2{
text-align: center;
}

a{
  text-decoration: none;
}

div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact{
  text-align: center;
  height:50px;
  width: 200px;
}

form{
  text-align: center;
}
