h1,h2{
text-align: center;
}

a{
  text-decoration: none;
}

div{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  text-align: center;
  height:30px;
  width: 30px;
  color: #F3F3F3;
}
